.jumbotron {
  padding: 3rem 3rem;
  background-color: #7d9097ce;
}
section {
  padding-top: 5rem;
}
h1 {
  background-color: aqua;
  border: 2px solid black;
}

span {
  background-color: goldenrod;
  border: 2px solid black;
  margin: 50px;
  padding: 10px;
}
